.button {
  background: #c9d7e3;
}
button.h1 {
  font: 2em sans-serif;
  color: rgb(11, 96, 171);
}

/*

use css module  to apply css to partiulr content if not 
useing general styles use normal.css else use *.module.css and import styles then styles.<className>

*/
